body {
  margin: 0;
  padding: 0;
  background: #29ae75;
}

.social {
  margin: 1rem;
  float: right;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
}
